@import '../../node_modules/d2-ui/lib/css/HeaderBar.css';

$left-bar-width: 295px;

html {
  background-color: #f3f3f3;
  font-family: Roboto, Arial, sans-serif;
}

.app-wrapper {
  margin-top: 4rem;
}

.left-bar {
  bottom: 0;
  left: 0;
  padding-top: 3rem;
  position: fixed;
  top: 0;
  width: $left-bar-width;
}

.main-content {
  margin-left: $left-bar-width + 30;
}

.dhisbutton {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  width: 100%;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  color: #fff;
  background-color: rgb(33, 150, 243);
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  min-width: 88px;
  margin: 1rem;
  width: 10rem;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.headerlabel {
  font-size: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px 0px 5px;
  margin: 0px;
}
