@import '../../node_modules/d2-ui/lib/css/HeaderBar.css';

$left-bar-width: 256px;

.app-wrapper {
  margin-top: 4rem;
}

.left-bar {
  width: $left-bar-width;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  padding-top: 3rem;
}

.main-content {
  margin-left: $left-bar-width + 30;
}
